{% extends 'base.html' %}
{% block content %}
<form method="GET" action="{% url 'home' %}">
    {{form.as_p}}
    <input type="submit" value="Search">
</form>
<p>Welcome to dashboard</p>
<ul>
<li><a href="{% url 'profile' %}">Profile</a></li>
<li><a href="{% url 'register_property' %}">Add your property now</a><br></li>
<li><a href="{% url 'show_property' %}">Your assets</a><br></li>
<li><a href="{% url 'random_properties'%}">Property on rent</a><br></li>
<li><a href="{% url 'rental_assets' %}">Rental properties</a><br></li>
<li><a href="{% url 'owner_leave_panel' %}">Notifications</a><br></li>
</ul>
{% if flag and property_list %}
<center>
<table border="1">
    <tr>
        <th>City</th>
        <th>Price</th>
        <th>Address</th>
        <th>Size</th>
        <th>Type</th>
        <th>Description</th>
        <th>More details</th>
    </tr>
{%for item in property_list%}
    <tr>
        <td>{{item.city}}</td>
        <td>{{item.price}}</td>
        <td>{{item.address}}</td>
        <td>{{item.size}}</td>
        <td>{{item.p_type}}</td>
        <td>{{item.description}}</td>
        <td><a href="{% url 'view_details' item.id %}">View details</a></td>
    </tr>
{% endfor %}
</table>
</center>
{% endif %}
{% endblock %}

