{% extends 'base.html' %}
{% block content %}
    <table border="1">
    <tr>
        <th colspan="2">Request</th>
        <th>User</th>
    </tr>
    {% for item in leave_request %}
        <tr>
            {% if item.request_accept %}
           <td>Accepted</td>
            {% elif item.request_accept == False%}
            <td>Cancelled</td>
            {% else %}
            <td>
                <a href="{% url 'request_accept' item.id%}"><button>Accept</button></a>
            </td>
            <td>
                <a href="{% url 'request_cancel' item.id%}"><button>Cancel</button></a>
            </td>
            {% endif %}
         <td><a href="{% url 'renter_details' item.rent.property.id%}">Details</a></td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
