{% extends 'my_base.html' %}
{% block content %}
<center>
<table border="1">
    <tr>
        <th>Message</th>
        <th>Sender</th>
        <th>Receiver</th>
    </tr>
{% for item in messages %}
    <tr>
        <td>{{item.message}}</td>
        <td>{{item.user.first_name}}  {{item.user.last_name}}</td>
        <td>{{item.receiver.first_name}}  {{item.receiver.last_name}}</td>
    </tr>
{% endfor %}

</table><br><br>
        <form method="post" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Send">
        </form>
</center>
{% endblock %}
