{% extends 'base.html' %}
{% block content %}
<table border="1">
    <tr>
        <th>Message</th>
        <th>Owner</th>
        <th>Renter</th>
    </tr>
{% for item in messages %}
    <tr>
        <td>{{item.message}}</td>
        <td>{{item.user.first_name}}  {{item.user.last_name}}</td>
        <td>{{item.rent.customer.first_name}}  {{item.rent.customer.last_name}}</td>
    </tr>
{% endfor %}

</table>
        <form method="post" action="">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit" value="Send">
        </form>
{% endblock %}
