{% extends 'base.html' %}
{% block content %}
{{message}}
<table border="1">
    <tr>
    <th>Price</th>
    <th>Address</th>
    <th>Size</th>
    <th>Type</th>
    <th>City</th>
    <th colspan="2">Time Period</th>
    <th colspan="2">More</th>
<!--    <th>Owner Details</th>-->
    </tr>
    {% for item in rent %}
    <tr>
        <td>{{item.property.price}}</td>
        <td>{{item.property.address}}</td>
        <td>{{item.property.size}}</td>
        <td>{{item.property.p_type}}</td>
        <td>{{item.property.city}}</td>
        <td>{{item.date_on_rent}}</td>
        <td>{{item.tenure}}</td>
        <td><a href="{% url 'view_details' item.property.id%}">Owner details</a></td>
        <td><a href="#">Leave request</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}