{% extends 'my_base.html' %}
{% block content %}
{{message}}
<center>
<table border="1">
    {% if rent %}
    <tr>
    <th>Price</th>
    <th>Address</th>
    <th>Size</th>
    <th>Type</th>
    <th>City</th>
    <th colspan="2">Time Period</th>
    <th colspan="">More</th>
    <th>Leave</th>
    <th>Leave status</th>
    <th>Contact</th>
    <th>Status</th>
    </tr>
    {% endif %}
    {% for item in rent %}
    <tr>
        <td>{{item.property.price}}</td>
        <td>{{item.property.address}}</td>
        <td>{{item.property.size}}</td>
        <td>{{item.property.p_type}}</td>
        <td>{{item.property.city}}</td>
        <td>{{item.date_on_rent}}</td>
        <td>{{item.tenure}}</td>
        {% if item.is_active %}
        <td><a href="{% url 'view_details' item.property.id %}">Owner details</a></td>
        <td><a href="{% url 'leave_request' item.id %}">Leave request</a></td>
        <td><a href="{% url 'leave_status' item.id %}">Leave status</a></td>
        <td><a href="{% url 'renter_message' item.id%}">Message</a></td>
        <td>Online</td>
        {% else %}
        <td>Null</td>
        <td>Null</td>
        <td>Null</td>
        <td>Null</td>
        <td>You are no longer paying guest of this asset.</td>
        {% endif %}
    </tr>
    {% empty %}
    <p style="color:red">You have no rental property now....</p>
    {% endfor %}
</table>
</center>
{% endblock %}