{% extends 'my_base.html' %}
{% load static %}
{% block content %}
   <center>
    {% if user.profile_picture %}
    <img src="{{ user.profile_picture.url }}" alt="Avatar" width="225" height="225" style="border-radius:50%"><br>
    {% else %}
    <a href="{%url 'add_profile_picture' user.id%}">Add profile picture</a><br>
    {% endif %}
    <label>Username  : </label>{{user.first_name}}  {{user.last_name}}<br>
    <label>Email  : </label>{{user.email}}<br>
    <label>Contact number  : </label>{{user.mobile}}<br>
    <label>Gender  : </label>{{user.get_gender_display}}<br>
      <a href="{% url 'update_profile' %}"><button>Update profile</button></a>
      </center>
{% endblock %}