{% extends 'my_base.html' %}
{% block content %}
<center>
<table border="1" style="color:Black">
        <tr style="color:Blue">
        <th>Price</th>
        <th>Address</th>
        <th>Type</th>
        <th>Size</th>
        <th>City</th>
        <th>Description</th>
        <th>Status</th>
        <th colspan="3">Actions</th>
        </tr>
    {% for property in property_list %}
        <tr>
            <td>{{property.price}}</td>
            <td>{{property.address}}</td>
            <td>{{property.p_type}}</td>
            <td>{{property.size}}</td>
            <td>{{property.city}}</td>
            <td>{{property.description}}</td>
            {% if not property.is_active %}
            <td><a href="{% url 'renter_details' property.id %}"><button>On rent</button></a></td>
            {% else %}
            <td>None</td>
            {% endif %}
            <td><a href="{% url 'add_image' property.id %}"><button>Add image</button></a></td>
            <td><a href="{% url 'update_property' property.id %}"><button>Update</button></a></td>
            <td><a href="{% url 'delete_property' property.id %}"><button>Delete</button></a></td>
          </tr>
    {% endfor %}
</table>
</center>
{% endblock %}