{% extends 'base.html' %}
{% block content %}
<table border="1" style="color:Black">
        <tr style="color:Blue">
        <th>Price</th>
        <th>Address</th>
        <th>Type</th>
        <th>Size</th>
        <th>City</th>
        <th>Description</th>
        <th colspan="3">Actions</th>
        </tr>
    {% for property in property_list %}
        <tr>
            <td>{{property.price}}</td>
            <td>{{property.address}}</td>
            <td>{{property.p_type}}</td>
            <td>{{property.size}}</td>
            <td>{{property.city}}</td>
            <td>{{property.description}}</td>
            <td><a href="{% url 'add_image' property.id %}">Add image</a></td>
            <td><a href="{% url 'update_property' property.id %}">Update</a></td>
            <td><a href="{% url 'delete_property' property.id %}">Delete</a></td>
          </tr>
    {% endfor %}
</table>
{% endblock %}